<%- include ./layouts/cabecera.ejs %>

    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col">
                <div class="table-responsive table-hover" class="scroller">
                    <table class="table table-sm  text-center mt-4 max">
                        <thead class="thead-light">
                            <tr id="myRow">
                                <th>#</th>
                                <th>RECURSO</th>
                                <th>DEPARTAMENTO</th>
                                <th>CODIGO</th>
                                <th>NOMBRE CORTO</th>
                                <th>CLIENTE</th>
                                <th>CECO</th>
                                <th><input type="date" value="class='bx bx-calendar'"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for( let proyecto=0; proyecto < proyectos.length; proyecto++ ) { %>
                                <tr>
                                    <td>
                                        <%=proyectos[proyecto].id %>
                                    </td>
                                    <td>
                                        <%=proyectos[proyecto].departamento %>
                                    </td>
                                    <td>
                                        <%=proyectos[proyecto].cargo %>
                                    </td>
                                    <td>
                                        <%=proyectos[proyecto].codigo %>
                                    </td>
                                    <td>
                                        <%=proyectos[proyecto].nomCorto %>
                                    </td>
                                    <td>
                                        <%=proyectos[proyecto].cliente %>
                                    </td>
                                    <td>
                                        <%=proyectos[proyecto].ceco_id %>
                                    </td>
                                    <td>
                                        <input type="number">
                                    </td>
                                </tr>
                                <% } %>


                        </tbody>

                        <button onclick="myFunction()">Agregar</button>

                        <script>
                            function myFunction() {
                                var row = document.getElementById("myRow");
                                var x = row.insertCell(-1);
                                x.innerHTML = "FECHA";
                            }
                        </script>
                    </table>
                </div>
            </div>
    </div>

    <%- include ./layouts/pie.ejs %>