<%- include ../layouts/cabecera.ejs%>
    <div class="container-fluid">
        
        <br>
        <br>

        <div class="card">

                <div class="card-body">
                    <br>
                    <h1>AGREGAR A STAFFING</h1>
                    <br>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <br>
                                <br>
                                <h2>Recurso</h2>
                                <br>
                                <!-- BOTON SELECT EMPLEADOS -->
                                <div  class="shadow p-3 mb-5 bg-white rounded">
                                    <select id="empleadoFormSTF" class="custom-select">
                                        <option disabled selected>Selecciona al empleado</option>
                                        <% for( let empleadoSTF=0; empleadoSTF < empleadosSTF.length;empleadoSTF++ ) {%>
                                            <option value="<%=empleadosSTF[empleadoSTF].id %>">
                                                <%=empleadosSTF[empleadoSTF].nombre %>
                                                    <%=empleadosSTF[empleadoSTF].apellido %>
                                            </option>
                                            <% } %>
                                    </select>
                                    <br>
                                </div>
                                <!-- FORMULARIO EMPLEADOS CEAR STF -->
                                <div class="shadow p-3 mb-5 bg-white rounded" >

                                    <!-- columna#1 empleados  Staff-->
                                    <fieldset disabled>
                                    </fieldset>
                                        <h5>Datos del empleado</h5>
                                        <br>
                                        <div class="row">
                                            <!-- columna#1 EMPLEADOS-->
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="my-input">NOMBRE</label>
                                                    <select id="tipoDocFormSTF">
                                                        <option selected>-</option>
                                                        <% for( let empleadoSTF=0; empleadoSTF <empleadosSTF.length;empleadoSTF++ ) {%>
                                                            <option value="<%=empleadosSTF[empleadoSTF].id %>">
                                                                <%=empleadosSTF[empleadoSTF].nombre %>
                                                            </option>
                                                            <% } %>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="my-input">TIPO DE DOCUMENTO</label>
                                                    <select id="tipoDocFormSTF">
                                                        <option selected>-</option>
                                                        <% for( let empleadoSTF=0; empleadoSTF <empleadosSTF.length;empleadoSTF++ ) {%>
                                                            <option value="<%=empleadosSTF[empleadoSTF].id %>">
                                                                <%=empleadosSTF[empleadoSTF].tipoDoc %>
                                                            </option>
                                                            <% } %>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="my-input">GERENCIA </label>
                                                    <select id="gerenciaFormSTF">
                                                        <option selected>-</option>
                                                        <% for( let empleadoSTF=0; empleadoSTF <empleadosSTF.length;empleadoSTF++ ) {%>
                                                            <option value="<%=empleadosSTF[empleadoSTF].id %>">
                                                                <%=empleadosSTF[empleadoSTF].gerencia %>
                                                            </option>
                                                            <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- columna#1 EMPLEADOS-->
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="my-input">APELLIDO</label>
                                                    <select id="tipoDocFormSTF">
                                                        <option selected>-</option>
                                                        <% for( let empleadoSTF=0; empleadoSTF <empleadosSTF.length;empleadoSTF++ ) {%>
                                                            <option value="<%=empleadosSTF[empleadoSTF].id %>">
                                                                <%=empleadosSTF[empleadoSTF].apellido %>
                                                            </option>
                                                            <% } %>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="my-input">DOCUMENTO</label>
                                                    <select id="documentoFormSTF">
                                                        <option selected>-</option>
                                                        <% for( let empleadoSTF=0; empleadoSTF <empleadosSTF.length;empleadoSTF++ ) {%>
                                                            <option value="<%=empleadosSTF[empleadoSTF].id %>">
                                                                <%=empleadosSTF[empleadoSTF].documento %>
                                                            </option>
                                                            <% } %>
                                                    </select>
                                                </div>
                                                <div class=" form-group">
                                                    <label for="my-input">DEPARTAMENTO </label>
                                                    <select id="departamentoFormSTF">
                                                        <option selected>-</option>
                                                        <% for( let empleadoSTF=0; empleadoSTF <empleadosSTF.length;empleadoSTF++ ) {%>
                                                            <option value="<%=empleadosSTF[empleadoSTF].id %>">
                                                                <%=empleadosSTF[empleadoSTF].departamento %>
                                                            </option>
                                                            <% } %>
                                                    </select>
                                                </div>


                                            </div>

                                                <div class="col-sm-12">
                                                <div class="form-group" id="divCentral">
                                                    <label for="my-input">CARGO</label>
                                                    <select id="cargoFormSTF">
                                                        <option selected>-</option>
                                                        <% for( let empleadoSTF=0; empleadoSTF <empleadosSTF.length;empleadoSTF++ ) {%>
                                                            <option value="<%=empleadosSTF[empleadoSTF].id %>">
                                                                <%=empleadosSTF[empleadoSTF].cargo %>
                                                            </option>
                                                            <% } %>
                                                    </select>
                                                </div>

                                                </div>
                                        </div>

                                </div>
                            </div>
                            <br><br>
                            <div class="col">
                                <br>
                                <br>
                                <H2>Proyecto</H2>
                                <br>
                                <!-- BOTON SELECT PROYECTOS -->
                                <div class="shadow p-3 mb-5 bg-white rounded">
                                    <select required class="custom-select" id="proyectoFormSTF">
                                        <option disabled selected>Selecciona el proyecto
                                        </option>
                                        <% for(let proyectoSTF=0;proyectoSTF<proyectosSTF.length;proyectoSTF++){%>
                                            <option value="<%=proyectosSTF[proyectoSTF].id %>">
                                                <%=proyectosSTF[proyectoSTF].codigo %>
                                                    <%=proyectosSTF[proyectoSTF].nomCorto %>
                                            </option>
                                            <% } %>
                                    </select>
                                    <br>
                                </div>
                                <!-- FORMULARIO PROYECTOS CEAR STF -->
                                <div  class="shadow p-3 mb-5 bg-white rounded">

                                        <!-- columna#1 Proyectos  Staff-->
                                        <h5>Datos del Proyecto</h5>
                                        <br>
                                            <div class="row">
                                            <!-- columna#1 PROYECTOS-->
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="my-input">CODIGO</label>
                                                        <select id="codigoSTF">
                                                            <option disabled selected>-</option>
                                                            <% for(let proyectoSTF=0;proyectoSTF<proyectosSTF.length;proyectoSTF++){%>
                                                                <option value="<%=proyectosSTF[proyectoSTF].id %>">
                                                                    <%=proyectosSTF[proyectoSTF].codigo %>
                                                                </option>
                                                                <% } %>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="my-input">CECO</label>
                                                        <select id="cecoSTF">
                                                            <option disabled selected>-</option>
                                                            <% for(let proyectoSTF=0;proyectoSTF<proyectosSTF.length;proyectoSTF++){%>
                                                                <option value="<%=proyectosSTF[proyectoSTF].id %>">
                                                                    <%=proyectosSTF[proyectoSTF].ceco %>
                                                                </option>
                                                                <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- columna#2 PROYECTOS-->
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="my-input">CLIENTE</label>
                                                        <select id="clienteSTF">
                                                            <option disabled selected>-</option>
                                                            <% for(let proyectoSTF=0;proyectoSTF<proyectosSTF.length;proyectoSTF++){%>
                                                                <option value="<%=proyectosSTF[proyectoSTF].id %>">
                                                                    <%=proyectosSTF[proyectoSTF].cliente %>
                                                                </option>
                                                                <% } %>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="my-input">NOMBRE CORTO</label>
                                                            <select id="nomCortoSTF">
                                                                <option disabled selected>-</option>
                                                                <% for(let proyectoSTF=0;proyectoSTF<proyectosSTF.length;proyectoSTF++){%>
                                                                    <option value="<%=proyectosSTF[proyectoSTF].id %>">
                                                                        <%=proyectosSTF[proyectoSTF].nomCorto %>
                                                                    </option>
                                                                    <% } %>
                                                            </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="my-input">GERENTE</label>
                                                        <select id="gerenteSTF">
                                                            <option disabled selected>-</option>
                                                            <% for(let proyectoSTF=0;proyectoSTF<proyectosSTF.length;proyectoSTF++){%>
                                                                <option value="<%=proyectosSTF[proyectoSTF].id %>">
                                                                    <%=proyectosSTF[proyectoSTF].cliente %>
                                                                </option>
                                                                <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                            <form action="/staffing/registroEmpleadoSTF" method="post">
                                
                                <div class="form-group"  style="display: none">
                                    <label for="my-input">Id_Proyecto</label>
                                    <select id="idProyectoSTF" name="idProyectoSTF"  >
                                        <option disabled selected>-</option>
                                        <% for(let proyectoSTF=0;proyectoSTF<proyectosSTF.length;proyectoSTF++){%>
                                            <option value="<%=proyectosSTF[proyectoSTF].id %>">
                                                <%=proyectosSTF[proyectoSTF].id %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                                
                                <div class="form-group"  style="display: none">
                                    <label for="my-input">Id_Empleado</label>
                                    <select id="idEmpleadoSTF" name="idEmpleadoSTF">
                                        <option selected>-</option>
                                        <% for( let empleadoSTF=0; empleadoSTF <empleadosSTF.length;empleadoSTF++ ) {%>
                                            <option value="<%=empleadosSTF[empleadoSTF].id %>">
                                                <%=empleadosSTF[empleadoSTF].id %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                    

                                <div id="seccionBtnSTF" class="row shadow p-3 mb-5 bg-white rounded">
                                    <div class="col-sm-4">

                                    <label class="labelSTF">Selecciona la fecha INICIAL</label>
                                    <hr>
                                    <input type="date" id="fechaInicio" name="fechaInicio" class="btn-group m-4">

                                </div>
                                <div class="col-sm-4">
                                    <label class="labelSTF">Selecciona la fecha FINAL</label>
                                    <hr>
                                    <input type="date" id="fechaFin" name="fechaFin" class="btn-group m-4" >
                                </div>
                                <div class="col-sm-4">

                                    <label class="labelSTF">Asignacion</label>
                                    <hr>
                                    <input id="textoAsignacionSTF" class="form-control text-center" type="number" name="aisgnacion" step="0.01" min="0.10" max="1.00" placeholder="Valor decimal no mayor a 1.">
                                    </div>

                                </div>

                                <div class="text-center col-sm-12">
                                    <button type="submit" class="btn btn-outline-warning ml-8"><i
                                    class='bx bx-check-circle bx-md bx-flashing-hover'></i></button>


                                    <a href="/staffing" onclick="return confirm('seguro quieres salir??')"
                                    class="btn btn-outline-danger m-4"><i class='bx bx-x-circle bx-md'></i></a>
                                </div>

                            </form>
                            </div>
                        </div>
                    </div>
                </div>



            <br>
            <hr>
            <br> 
          <div class="container-fluid" style="padding: 5em;">
                
            <div>
                <h2>Datos a enviar a sftaffing</h2>
                <br>

                <table id="myTable" class="table  table-hover text-center mt-4 table-responsive">
                    <input type="hidden" name="id_Empleado">
                    <input type="hidden" name="id_Proyecto">
                    <thead class="thead">
                        <tr>
                            <th>ACCION</th>
                            <th>documentos_id</th>
                            <th>documento</th>
                            <th>nombre</th>
                            <th>apellido</th>
                            <th>gerencias_id</th>
                            <th>departamentos_id</th>
                            <th>cargos_id</th>
                            <th>codigo</th>
                            <th>ceco_id</th>
                            <th>cliente</th>
                            <th>nomCorto</th>
                            <th>empleadosStaff_id</th>
                            <th>fechaInicial</th>
                            <th>fechaFinal</th>
                            <th>asignación</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <tr>
                            <td>
                                <div class="btn-group" role="group" aria-label="Button group">

                                    <form class="form-inline" method="post" action="">
                                        <button class="btn btn-outline-info" type="submit"><i
                                                class='bx bx-edit-alt bx-sm bx-tada-hover'></i></button>
                                    </form>
                                </div>
                                <div class="btn-group" role="group" aria-label="Button group">

                                    <form class="form-inline" method="post" action="">
                                        <button class="btn btn-outline-danger"
                                            onclick="return confirm('deseas eliminar a  ???')" type="submit"><i
                                                class='bx bxs-trash bx-sm bx-tada-hover'></i></button>
                                    </form>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row w-100 align-items-center">
                    <div class="col text-center">

                        <button type="submit" class="btn btn-outline-warning"><i
                                class='bx bx-check-circle bx-md bx-flashing-hover'></i></button>
                        <a href="../staffing/" class="btn btn-outline-danger"><i
                                class='bx bx-x-circle bx-md bx-flashing-hover'></i></a>
                    </div>
                </div>
            </div>
            </div>
           
          <!--- ---> 
        </div>
    </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <%- include ../layouts/pie.ejs %>