<%- include ../layouts/cabecera.ejs%>
    <div class="container">
        <br>
        <br>

        <div class="card">
            <div class="card-body">
                <br>
                <h1>AGREGAR A STAFFING</h1>
                <br>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <br>
                            <br>
                            <h2>Recurso</h2>
                            <br>
                            <!-- BOTON SELECT EMPLEADOS -->
                            <div class="container">
                                <form action="/staffing/registroEmpleadoSTF" method="get">

                                    <div class="form-group">
                                        <select    id="empleadoFormSTF" class="custom-select" name="datosEmpleado" >

                                            <option disabled selected>Selecciona al empleado</option>
                                            <% for( let empleadoSTF=0; empleadoSTF < empleadosSTF.length;empleadoSTF++ ) {%>
                                                <option value="<%=empleadosSTF[empleadoSTF].id %>">
                                                    <%=empleadosSTF[empleadoSTF].nombre %>
                                                        <%=empleadosSTF[empleadoSTF].apellido %>
                                                </option>
                                                <% } %>
                                        </select>
                                        <br>
                                    </div>
                                </form>
                            </div>
                            <br>
                            <br>
                            <!-- FORMULARIO EMPLEADOS CEAR STF -->
                            <div class="container shadow p-3 mb-5 bg-white rounded">
                                <form method="post" action="" id="formEmpleado">

                                    <!-- columna#1 empleadosStaff-->
                                    <fieldset disabled>
                                        <div class="row">
                                            <div class="col">
                                                <h5>Datos del empleado</h5>
                                                <div class="form-group text-center">
                                                    <label for="my-input">TIPO DE DOCUMENTO</label>
                                                    <select id="tipoDocFormSTF">
                                                    <option  selected>-</option>
                                                        <% for( let empleadoSTF=0; empleadoSTF < empleadosSTF.length;empleadoSTF++ ) {%>
                                                            <option value="<%=empleadosSTF[empleadoSTF].id %>">
                                                                <%=empleadosSTF[empleadoSTF].tipoDoc %>
                                                            </option>
                                                            <% } %>
                                                         </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="my-input">DOCUMENTO</label>
                                                    <select id="documentoFormSTF">
                                                    <option  selected>-</option>
                                                        <% for( let empleadoSTF=0; empleadoSTF < empleadosSTF.length;empleadoSTF++ ) {%>
                                                            <option value="<%=empleadosSTF[empleadoSTF].id %>">
                                                                <%=empleadosSTF[empleadoSTF].documento %>
                                                            </option>
                                                            <% } %>
                                                         </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="my-input">GERENCIA </label>
                                                    <select id="gerenciaFormSTF">
                                                    <option  selected>-</option>
                                                        <% for( let empleadoSTF=0; empleadoSTF < empleadosSTF.length;empleadoSTF++ ) {%>
                                                            <option value="<%=empleadosSTF[empleadoSTF].id %>">
                                                                <%=empleadosSTF[empleadoSTF].gerencia %>
                                                            </option>
                                                            <% } %>
                                                         </select>
                                                </div>
                                                <div class=" form-group">
                                                    <label for="my-input">DEPARTAMENTO </label>
                                                    <select id="departamentoFormSTF">
                                                    <option  selected>-</option>
                                                        <% for( let empleadoSTF=0; empleadoSTF < empleadosSTF.length;empleadoSTF++ ) {%>
                                                            <option value="<%=empleadosSTF[empleadoSTF].id %>">
                                                                <%=empleadosSTF[empleadoSTF].departamento %>
                                                            </option>
                                                            <% } %>
                                                         </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="my-input">CARGO</label>
                                                    <select id="cargoFormSTF">
                                                    <option  selected>-</option>
                                                        <% for( let empleadoSTF=0; empleadoSTF < empleadosSTF.length;empleadoSTF++ ) {%>
                                                            <option value="<%=empleadosSTF[empleadoSTF].id %>">
                                                                <%=empleadosSTF[empleadoSTF].cargo %>
                                                            </option>
                                                            <% } %>
                                                         </select>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="col">
                            <br>
                            <br>
                            <H2>Proyecto</H2>
                            <br>
                            <!-- BOTON SELECT PROYECTOS -->
                            <div class="container">
                                <div class="form-group ">
                                    <select class="custom-select" id="proyectoSTF" name="proyectoSTF">
                                        <option disabled selected>Selecciona el proyecto
                                        </option>
                                        <% for(let proyectoSTF=0;proyectoSTF<proyectosSTF.length;proyectoSTF++){%>
                                            <option value="<%=proyectosSTF[proyectoSTF].id %>">
                                                <%=proyectosSTF[proyectoSTF].codigo %>
                                                    <%=proyectosSTF[proyectoSTF].nomCorto %>
                                            </option>
                                            <% } %>
                                    </select>
                                    <button type="submit" id="btnFormProyecto" class="btn btn-outline-warning mt-3"><i
                                            class='bx bx-check-circle bx-md bx-flashing-hover'></i></button>
                                    <br>
                                </div>
                            </div>
                            <div class="container">
                                <!-- FORMULARIO PROYECTOS CEAR STF -->
                                <div class="container shadow p-3 mb-5 bg-white rounded">
                                    <form method="post" action="" id="formularioSTF">
                                        <!-- columna#1 ProyectosStaff-->
                                        <fieldset disabled>
                                            <!-- columna#1 PROYECTOS-->
                                            <div class="row">

                                                <div class="col">
                                                    <div class="form-group">
                                                        <label for="my-input">CODIGO</label>

                                                        <input id="my-input" class="form-control" type="text"
                                                            name="codigo">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="my-input">CECO</label>
                                                        <input id="my-input" class="form-control" type="text"
                                                            name="nombreCorto">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="my-input">CLIENTE</label>
                                                        <input id="my-input" class="form-control" type="text"
                                                            name="cliente">
                                                    </div>
                                                </div>
                                                <!-- columna#2 PROYECTOS-->
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label for="my-input">NOMBRE
                                                            CORTO</label>
                                                        <input id="my-input" class="form-control" type="text"
                                                            name="nombreCorto">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="my-input">GERENTE</label>
                                                        <input id="my-input" class="form-control" type="text"
                                                            name="gerente">
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <br>
                <div>
                    <h2>Datos a enviar a sftaffing</h2>
                    <br>

                    <table id="myTable" class="table  table-hover text-center mt-4 table-responsive">
                        <input type="hidden" name="id_Empleado">
                        <input type="hidden" name="id_Proyecto">
                        <thead class="thead">
                            <tr>
                                <th>ACCION</th>
                                <th>documentos_id</th>
                                <th>documento</th>
                                <th>nombre</th>
                                <th>apellido</th>
                                <th>gerencias_id</th>
                                <th>departamentos_id</th>
                                <th>cargos_id</th>
                                <th>codigo</th>
                                <th>ceco_id</th>
                                <th>cliente</th>
                                <th>nomCorto</th>
                                <th>empleadosStaff_id</th>
                                <th>fechaInicial</th>
                                <th>fechaFinal</th>
                                <th>asignación</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            <tr>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Button group">

                                        <form class="form-inline" method="post" action="">
                                            <button class="btn btn-outline-info" type="submit"><i
                                                    class='bx bx-edit-alt bx-sm bx-tada-hover'></i></button>
                                        </form>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Button group">

                                        <form class="form-inline" method="post" action="">
                                            <button class="btn btn-outline-danger"
                                                onclick="return confirm('deseas eliminar a  ???')" type="submit"><i
                                                    class='bx bxs-trash bx-sm bx-tada-hover'></i></button>
                                        </form>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row w-100 align-items-center">
                        <div class="col text-center">

                            <button type="submit" class="btn btn-outline-warning"><i
                                    class='bx bx-check-circle bx-md bx-flashing-hover'></i></button>
                            <a href="../staffing/" class="btn btn-outline-danger"><i
                                    class='bx bx-x-circle bx-md bx-flashing-hover'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%- include ../layouts/pie.ejs %>