<%- include ../layouts/cabecera.ejs %>
    <div class="container-fluid">
        <br>
        <br>

        <div class="card">
            <div class="card-body">
                <br>
                <h1>AGREGAR A STAFFING</h1>
                <br>
                <div class="container shadow p-3 mb-5 bg-white rounded">
                    <div>
                            <div class="container">


                                <br>
                                <div class="row">
                                    <div class="col">
                                        <h2>Recurso</h2>
                                        <br>
                                        <div class="container shadow p-3 mb-5 bg-white rounded">
                                            <form method="post" action="/">


                                                <!-- BOTON MODAL EMPLEADOS -->
                                                <button type="button" id="btnMoldal"
                                                    class="btn btn-secondary btnEmpleado" data-toggle="modal"
                                                    data-target="#modalEmpleado">
                                                    Seleccionar empleado
                                                </button>
                                                <br>
                                                <br>

                                                <div class="container">
                                                    <form action="/crearSTF" id="formEmpleado">

                                                        <fieldset disabled>
                                                            <div class="row">
                                                                <!-- columna#1 empleadosStaff-->
                                                                <div class="col">
                                                                    <input type="hidden" name="id" value="">
                                                                    <div class="form-group">
                                                                        <label for="my-input">TIPO DE DOCUMENTO</label>
                                                                        <input id="my-input" value=""
                                                                            class="form-control" type="number" name="tipoDoc>
                                                                </div>
                                                                <div class=" form-group">
                                                                        <label for="my-input">DOCUMENTO</label>
                                                                        <input id="my-input" value=""
                                                                            class="form-control" type="number"
                                                                            name="documento">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="my-input">NOMBRE</label>
                                                                        <input id="my-input" value=""
                                                                            class="form-control" type="text"
                                                                            name="nombre">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="my-input">APELLIDO </label>
                                                                        <input id="my-input" value=""
                                                                            class="form-control" type="text"
                                                                            name="apellido">
                                                                    </div>
                                                                </div>

                                                                <!-- columna#1 empleadosStaff-->
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label for="my-input">GERENCIA </label>
                                                                        <input id="my-input" value=""
                                                                            class="form-control" type="text" name="gerencia>
                                                                </div>
                                                                <div class=" form-group">
                                                                        <label for="my-input">DEPARTAMENTO </label>
                                                                        <input id="my-input" value=""
                                                                            class="form-control" type="text"
                                                                            name="departamento">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="my-input">CARGO </label>
                                                                        <input id="my-input" value=""
                                                                            class="form-control" type="text"
                                                                            name="cargo">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group" id="formProyecto">
                                            <H2>Proyecto</H2>
                                            <br>
                                            <div>
                                                <div class="container shadow p-3 mb-5 bg-white rounded">
                                                    <form method="post" action="/">
                                                        <div class="container">
                                                            <!-- BOTON MODAL PROYECTOS -->
                                                            <button type="button" id="btnMoldal"
                                                                class="btn btn-secundary" data-toggle="modal"
                                                                data-target="#modalProyecto">
                                                                Seleccionar proyecto
                                                            </button>
                                                            <br>
                                                            <br>
                                                            <div class="container">
                                                                <fieldset disabled>
                                                                    <!-- columna#1 PROYECTOS-->
                                                                    <div class="row">

                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label for="my-input">CODIGO</label>
                                                                                <input id="my-input"
                                                                                    class="form-control" type="text"
                                                                                    name="codigo">
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label for="my-input">CECO</label>
                                                                                <input id="my-input"
                                                                                    class="form-control" type="text"
                                                                                    name="nombreCorto">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="my-input">CLIENTE</label>
                                                                                <input id="my-input"
                                                                                    class="form-control" type="text"
                                                                                    name="cliente">
                                                                            </div>
                                                                        </div>
                                                                        <!-- columna#2 PROYECTOS-->
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label for="my-input">NOMBRE
                                                                                    CORTO</label>
                                                                                <input id="my-input"
                                                                                    class="form-control" type="text"
                                                                                    name="nombreCorto">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="my-input">GERENTE</label>
                                                                                <input id="my-input"
                                                                                    class="form-control" type="text"
                                                                                    name="gerente">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>

                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div>
                                <hr>
                                <H2>Agregar fechas</H2>
                                <br>
                                <form>
                                    <div class="form-row align-items-center">
                                        <div class="col-4">
                                            <h3>Fecha inicial</h3>
                                            <input type="date" class="form-control"
                                                placeholder="Seleccionar fecha Inicial">
                                        </div>
                                        <div class="col-4">
                                            <h3>Fecha final</h3>

                                            <input type="date" class="form-control"
                                                placeholder="Seleccionar fecha Final">
                                        </div>
                                        <div class="col-4">
                                            <h3>Asignación</h3>
                                            <input type="text" class="form-control" placeholder="Asignacion">
                                        </div>
                                    </div>
                                </form>
                                <br>
                                <div class="row w-100 align-items-center">
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-outline-warning"><i
                                                class='bx bxs-chevrons-down bx-md bx-fade-down-hover'></i></button>
                                        <button type="submit" class="btn btn-outline-danger"><i
                                                class='bx bxs-x-circle bx-md bx-flashing-hover'></i></button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div>
                        <h2>Datos a enviar a sftaffing</h2>
                        <br>

                        <table id="myTable" class="table  table-hover text-center mt-4 table-responsive">
                            <input type="hidden" name="id_Empleado">
                            <input type="hidden" name="id_Proyecto">
                            <thead class="thead">
                                <tr>
                                    <th>ACCION</th>
                                    <th>documentos_id</th>
                                    <th>documento</th>
                                    <th>nombre</th>
                                    <th>apellido</th>
                                    <th>gerencias_id</th>
                                    <th>departamentos_id</th>
                                    <th>cargos_id</th>
                                    <th>codigo</th>
                                    <th>ceco_id</th>
                                    <th>cliente</th>
                                    <th>nomCorto</th>
                                    <th>empleadosStaff_id</th>
                                    <th>fechaInicial</th>
                                    <th>fechaFinal</th>
                                    <th>asignación</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                <tr>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Button group">

                                            <form class="form-inline" method="post" action="">
                                                <button class="btn btn-outline-info" type="submit"><i
                                                        class='bx bx-edit-alt bx-sm bx-tada-hover'></i></button>
                                            </form>
                                        </div>
                                        <div class="btn-group" role="group" aria-label="Button group">

                                            <form class="form-inline" method="post" action="">
                                                <button class="btn btn-outline-danger"
                                                    onclick="return confirm('deseas eliminar a  ???')" type="submit"><i
                                                        class='bx bxs-trash bx-sm bx-tada-hover'></i></button>
                                            </form>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row w-100 align-items-center">
                            <div class="col text-center">

                                <button type="submit" class="btn btn-outline-warning"><i
                                        class='bx bx-check-circle bx-md bx-flashing-hover'></i></button>
                                <a href="../staffing/" class="btn btn-outline-danger"><i
                                        class='bx bx-x-circle bx-md bx-flashing-hover'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- ventana modal prueba -->
    <!-- Modal EMPLEADO-->
    <div class="modal fade" id="modalEmpleado" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">
                        Seleccione el recurso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container">

                        <table id="myTableSTF" class="table  table-hover text-center mt-4 table-responsive">
                            <thead class="thead">
                                <tr>
                                    <th>-</th>
                                    <th>CC</th>
                                    <th>DOCUMENTO</th>
                                    <th>NOMBRE</th>
                                    <th>APELLIDO</th>
                                    <th>GERENCIA</th>
                                    <th>DEPARTAMENTO</th>
                                    <th>CARGO</th>
                                    <th>ELEGIR</th>
                                </tr>
                            </thead>

                            <tbody id="myTableSTF">
                                <% for( let empleadoStaff=0; empleadoStaff < empleadosSTF.length; empleadoStaff++ ) { %>

                                    <tr>
                                        <td >
                                            <%=empleadosSTF[empleadoStaff].id %>
                                        </td>

                                        <td>
                                            <%=empleadosSTF[empleadoStaff].documento %>
                                        </td>
                                        <td>
                                            <%=empleadosSTF[empleadoStaff].nombreEmpleado %>
                                        </td>
                                        <td>
                                            <%=empleadosSTF[empleadoStaff].apellido %>
                                        </td>
                                        <td>
                                            <%=empleadosSTF[empleadoStaff].tipoDoc %>
                                        </td>
                                        <td>
                                            <%=empleadosSTF[empleadoStaff].gerencia %>
                                        </td>
                                        <td>
                                            <%=empleadosSTF[empleadoStaff].departamento %>
                                        </td>
                                        <td>
                                            <%=empleadosSTF[empleadoStaff].cargo %>
                                        </td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Button group">

                                                <form class="form-inline" method="post"
                                                    action="./crearSTF/<%=empleadosSTF[empleadoStaff].id %>">
                                                    <button class="btn btn-outline-info" type="submit"><i
                                                            class='bx bx-checkbox-checked bx-md bx-tada-hover'></i></button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- ventana modal prueba -->


    <!-- ventana modal prueba -->
    <!-- Modal PROYECTO-->

    <div class="container">
        <div class=" modal fade" id="modalProyecto" data-backdrop="static" data-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">
                            Seleccione el Proyecto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <div class="container">

                            <table id="myTableSTF" class="table  table-hover text-center mt-4 table-responsive">
                                <input type="hidden" name="id_Proyecto">
                                <thead class="thead">
                                    <tr>
                                        <th>#</th>
                                        <th>CODIGO</th>
                                        <th>CECO</th>
                                        <th>CLIENTE</th>
                                        <th>NOMBRE CORTO</th>
                                        <th>GERENTE</th>
                                        <th>ACCIÓN</th>
                                    </tr>
                                </thead>
                                <tbody id="myTableSTF">

                                    <% for( let proyectoStaff=0; proyectoStaff < proyectosSTF.length; proyectoStaff++ )
                                        { %>

                                        <tr>
                                            <td>
                                                <%=proyectosSTF[proyectoStaff].id %>
                                            </td>
                                            <td>
                                                <%=proyectosSTF[proyectoStaff].codigo %>
                                            </td>
                                            <td>
                                                <%=proyectosSTF[proyectoStaff].cliente %>
                                            </td>
                                            <td>
                                                <%=proyectosSTF[proyectoStaff].nomCorto %>
                                            </td>
                                            <td>
                                                <%=proyectosSTF[proyectoStaff].nombreProyecto %>
                                            </td>
                                            <td>
                                                <%=proyectosSTF[proyectoStaff].ceco %>
                                            </td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Button group">

                                                    <form class="form-inline" method="post" action="./crearSTF.">
                                                        <button class="btn btn-outline-info" type="submit"><i
                                                                class='bx bx-checkbox-checked bx-md bx-tada-hover'></i></button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                        <% } %>


                                </tbody>
                            </table>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- ventana modal prueba -->



    <script>
        $(document).ready(function () {
            $("#buscador").select2({
                ajax: {
                    url: "taffing/crearSTF.",
                    type: "post",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            palabraClave: params.term // search term
                        };
                    },
                    processResults: function (response) {
                        return {
                            results: response
                        };
                    },
                    cache: true
                }
            });
        });

    </script>





    <%- include ../layouts/pie.ejs %>