<%- include ../layouts/cabecera.ejs %>
        <div class="container position-fixed"><a href="../staffing/crearSTF"
                class="btn btn-outline-warning mt-4 position-fixed text-right"><i
                    class='bx bx-layer-plus bx-md bx-flashing-hover'></i></a>
            <br>
            <br>
            <br>
            <a href="" class=" btn btn-outline-warning mt-4 text-right"><i
                    class='bx bx-calendar bx-md bx-flashing-hover'></i></a>
        </div>
    <div class="container">
        <br>
        <br>
        <h1>STAFFING</h1>
        <br>
        <div class="container-fluid p-3 mb-5 bg-white rounded">
            <table id="myTable" class="table  table-hover text-center mt-4 table-responsive">

                <thead class="thead">
                    <tr>
                        <th>ACCION</th>
                        <th>ID</th>
                        <th>documentos_id</th>
                        <th>documento</th>
                        <th>nombre</th>
                        <th>apellido</th>
                        <th>gerencias_id</th>
                        <th>departamentos_id</th>
                        <th>cargos_id</th>
                        <th>codigo</th>
                        <th>ceco_id</th>
                        <th>cliente</th>
                        <th>nomCorto</th>
                        <th>empleados_id</th>
                        <th>fechaInicial</th>
                        <th>fechaFinal</th>
                        <th>asignación</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    <% for( let staffing=0; staffing < staffings.length; staffing++ ) { %>
                        <tr id="myRow">
                            <td>
                                <div class="btn-group" role="group" aria-label="Button group">

                                    <form class="form-inline" method="post"
                                        action="/staffing/editar/<%=staffings[staffing].id %>">
                                        <button class="btn btn-outline-info" type="submit"><i
                                                class='bx bx-edit-alt bx-sm bx-tada-hover'></i></button>
                                    </form>
                                </div>
                                <div class="btn-group" role="group" aria-label="Button group">

                                    <form class="form-inline" method="post" action="">
                                        <button class="btn btn-outline-danger"
                                            onclick="eliminarSTFcrear('<%=staffings[staffing].id %>')" type="submit"><i
                                                class='bx bxs-trash bx-sm bx-tada-hover'></i></button>
                                    </form>
                                </div>
                            </td>
                            <td>
                                <%=staffings[staffing].id %>
                            </td>
                            <td>
                                <%=staffings[staffing].documentos_id %>
                            </td>
                            <td>
                                <%=staffings[staffing].documento %>
                            </td>
                            <td>
                                <%=staffings[staffing].nombre %>
                            </td>
                            <td>
                                <%=staffings[staffing].apellido %>
                            </td>
                            <td>
                                <%=staffings[staffing].ceco_id %>
                            </td>
                            <td>
                                <%=staffings[staffing].departamentos_id %>
                            </td>
                            <td>
                                <%=staffings[staffing].cargos_id %>
                            </td>
                            <td>
                                <%=staffings[staffing].codigo %>
                            </td>
                            <td>
                                <%=staffings[staffing].ceco_id %>
                            </td>
                            <td>
                                <%=staffings[staffing].cliente %>
                            </td>
                            <td>
                                <%=staffings[staffing].nomCorto %>
                            </td>
                            <td>
                                <%=staffings[staffing].empleados_id %>
                            </td>
                            <td>
                                <%=staffings[staffing].fechaInicial %>
                            </td>
                            <td>
                                <%=staffings[staffing].fechaFinal %>
                            </td>
                            <td>
                                <%=staffings[staffing].valor %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>






    <%- include ../layouts/pie.ejs %>