<%- include ../layouts/cabecera.ejs %>

    <div class="container-fluid">
        <br><br>
        <h1>STAFFING</h1>

        <div class="container-fluid position-fixed">
            <br><br><br><br>
            <a href="../staffing/crearSTF" class="btn btn-outline-warning mt-1 position-fixed text-right"><i
                    class='bx bx-layer-plus bx-md bx-flashing-hover'></i></a>
        </div>
        <div class="container-fluid tablaProyecto" style="padding: 6em;">
            <div class="container-fluid  shadow p-3 mb-5 bg-white rounded">
                <table id="myTable" style="margin: 0 auto; width: 100%;"
                    class="table table-hover text-center table-responsive compact ">

                    <thead class="thead text-center">
                        <tr>
                            <th style="text-align: center;">ACCION</th>
                            <!---empleado---->
                            <th style="text-align: center;">#</th>
                            <th style="text-align: center;">Tipo Doc</th>
                            <th style="text-align: center;">Documento</th>
                            <th style="text-align: center;">Nombre</th>
                            <th style="text-align: center;">Apellido</th>
                            <th style="text-align: center;">Gerencia</th>
                            <th style="text-align: center;">Departamento</th>
                            <th style="text-align: center;">Cargo</th>
                            <!---proyecto---->
                            <th style="text-align: center;">Codigo</th>
                            <th style="text-align: center;">Ceco</th>
                            <th style="text-align: center;">Cliente</th>
                            <th style="text-align: center;">Nombre corto</th>
                            <th style="text-align: center;">Gerente</th>
                            <!---fechas - valor---->
                            <th style="text-align: center;">Fecha Inicial</th>
                            <th style="text-align: center;">Fecha Final</th>
                            <th style="text-align: center;">Asignación</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <% for( let staffing=0; staffing < staffings.length; staffing++ ) { %>
                            <tr id="myRow">
                                <td style="width:100px;">

            </div>
            <div class="btn-group " role="group" aria-label="Button group">

                <div>
                    <form class="form-inline" method="post"
                        action="/staffing/editar/<%=staffings[staffing].id %>">
                        <button class="btn btn-outline-info" type="submit"><i
                                class='bx bx-edit-alt bx-sm bx-tada-hover'></i></button>
                    </form>
                </div>
                <div>
                    <form class="form-inline" method="post" action="/staffing/eliminar/<%=staffings[staffing].id %>">
                        <button class="btn btn-outline-danger btnSTF"
                            onclick="alert('estas segur@ que quieres eliminar a: '+'<%=staffings[staffing].nombreEmpleado %>'+' asignad@ al proyecto '+'<%=staffings[staffing].codigo %>'+'???')"
                            type="submit"><i class='bx bxs-trash bx-sm bx-tada-hover'></i></button>
                    </form>
                </div>


            </div>
            </td>
            <!---empleado---->
            <td class="colSFTEmpleado">
                <%=staffings[staffing].id %>
            </td>
            <td class="colSFTEmpleado">
                <%=staffings[staffing].tipoDoc %>
            </td>
            <td class="colSFTEmpleado">
                <%=staffings[staffing].documento %>
            </td>
            <td id="ColorTableSTF">
                <%=staffings[staffing].nombreEmpleado %>
            </td>
            <td id="ColorTableSTF">
                <%=staffings[staffing].apellido %>
            </td>
            <td class="colSFTEmpleado">
                <%=staffings[staffing].gerencia%>
            </td>
            <td class="colSFTEmpleado">
                <%=staffings[staffing].departamento %>
            </td>
            <td class="colSFTEmpleado">
                <%=staffings[staffing].cargo %>
            </td>
            <!---proyecto---->
            <td class="colSFTProyecto">
                <%=staffings[staffing].codigo%>
            </td>
            <td class="colSFTProyecto">
                <%=staffings[staffing].ceco%>
            </td>
            <td id="ColorTableSTF">
                <%=staffings[staffing].cliente %>
            </td>
            <td id="ColorTableSTF">
                <%=staffings[staffing].nomCorto %>
            </td>
            <td class="colSFTProyecto">
                <%=staffings[staffing].gerenteEncargado %>
            </td>
            <!---fechas - valor---->
            <td id="ColorTableFechaSTF">
                <%=staffings[staffing].fechaInicial %>
            </td>
            <td id="ColorTableFechaSTF">
                <%=staffings[staffing].fechaFinal %>
            </td>
            <td id="TdValorSTF">
                <%=staffings[staffing].valor %>
            </td>
            </tr>
            <% } %>
                </tbody>
                </table>
        </div>
    </div>


    <div class="container">
   
                                <!-------------------------------------------------------->
                <!--- BOTON ABRIR MODAL EDITAR REGISTRO VALOR + FECHAS    data-toggle="modal" data-target="#modalEditarSTF"   --->
                                <!--------------------------------------------------------> <!-- 
                <div>
                 <button class="btn btn-outline-info btnSTF"  id="BtnMoldalSTF"  data-toggle="modal" data-target="#modalEditarSTF" type="submit">BTNmodal</i></button>
                </div>


 -->
                                <!-------------------------------------------------------->
                                <!--------------------------MODAL------------------------->
                                <!-------------------------------------------------------->

        <!-----------MODAL EDITAR REGISTRO VALOR Y FECHAS--------->
        <div class="modal fade" id="modalEditarSTF" data-backdrop="static" data-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 id="modalEditarSTF" class="modal-title w-100 text-center">Editar registro</h2>
                        <button type=" button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-body">
                                <!-------------------------------------------------------->
                                <!----SECCION DATOS RETORNADOS EN INPUT DESHABILITADOS---->
                                <!-------------------------------------------------------->



                                <!--------------------DATOS EMPLEADO-------------------->
                                <div class="container shadow-lg p-3 bg-waith rounded">
                                    <div class="container-sm">
                                        <div class="row">
                                            <div class="col-6">
                                                <h2>EMPLEADO</h2>
                                                <fieldset disabled="disabled">
                                                    <div class="form-group row">
                                                        <label for="colFormLabel"
                                                            class="col-sm-6 col-form-label">Nombre</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="colFormLabel"
                                                                placeholder="<%= staffing.nombreEmpleado %>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="colFormLabel"
                                                            class="col-sm-6 col-form-label">Apellido</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="colFormLabel"
                                                                placeholder="<%= staffing.apellido %>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="colFormLabel" class="col-sm-6 col-form-label">Tipo
                                                            de
                                                            documento</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="colFormLabel"
                                                                placeholder="<%= staffing.tipoDoc %>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="colFormLabel"
                                                            class="col-sm-6 col-form-label">Documento</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="colFormLabel"
                                                                placeholder="<%= staffing.documento %>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="colFormLabel"
                                                            class="col-sm-6 col-form-label">Gerencia</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="colFormLabel"
                                                                placeholder="<%= staffing.gerencia %>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="colFormLabel"
                                                            class="col-sm-6 col-form-label">Departamento</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="colFormLabel"
                                                                placeholder="<%= staffing.departamento %>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="colFormLabel"
                                                            class="col-sm-6 col-form-label">Cargo</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="colFormLabel"
                                                                placeholder="<%= staffing.cargo %>">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>

                                            <!-------------------------------------------------------->



                                            <!-------------------------------------------------------->
                                            <!----------------------DATOS DEL PROYECTO---------------->
                                            <div class="col-6">
                                                <h2>PROYECTO</h2>
                                                <fieldset disabled="disabled">
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="colFormLabel"
                                                                placeholder="<%= staffing.codigo %>">
                                                        </div>
                                                        <label for="colFormLabel"
                                                            class="col-sm-6 col-form-label">Codigo</label>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="colFormLabel"
                                                                placeholder="<%= staffing.ceco %>">
                                                        </div>
                                                        <label for="colFormLabel"
                                                            class="col-sm-6 col-form-label">Ceco</label>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="colFormLabel"
                                                                placeholder="<%= staffing.cliente %>">
                                                        </div>
                                                        <label for="colFormLabel"
                                                            class="col-sm-6 col-form-label">Cliente</label>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="colFormLabel"
                                                                placeholder="<%= staffing.nomCorto %>">
                                                        </div>
                                                        <label for="colFormLabel" class="col-sm-6 col-form-label">Nombre
                                                            Corto</label>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="colFormLabel"
                                                                placeholder="<%= staffing.gerenteEncargado %>">
                                                        </div>
                                                        <label for="colFormLabel"
                                                            class="col-sm-6 col-form-label">Gerente encargado</label>
                                                    </div>

                                                </fieldset>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-------------------------------------------------------->

                                <br>

                                <!-------------------------------------------------------->
                                <!----SECCION FECHAS Y VALOR---->
                                <div class="container shadow-lg p-3 bg-waith rounded">
                                    <form class="form-inline" method="POST" action="../actualizar/">
                                        <input type="text" id="InputModalSTF" name="id" value="<%= staffing.id %>">
                                        <div class="container">
                                            <br>
                                            <div class="row">
                                                <h5 class="modal-title w-100 text-center">EDITAR</h5>
                                                <br>
                                                <br>
                                                <div class="col-sm">
                                                    <div class="form-group row">
                                                        <label for="colFormLabel" class="col-sm-12 col-form-label">fecha
                                                            Inicial</label>
                                                        <div class="col-sm-12">
                                                            <input type="date" class="form-control" id="colFormLabel"
                                                                value="<%= staffing.fechaInicial %>">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm">
                                                    <div class="form-group row">
                                                        <label for="colFormLabel" class="col-sm-12 col-form-label">fecha
                                                            Final</label>
                                                        <div class="col-sm-12">
                                                            <input type="date" class="form-control" id="colFormLabel"
                                                                value="<%= staffing.fechaFinal %>">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm">
                                                    <div class="form-group row">
                                                        <label for="colFormLabel"
                                                            class="col-sm-12 col-form-label">Asignacion</label>
                                                        <div class="col-sm-12">
                                                            <input id="colFormLabel" class="form-control text-center"
                                                                type="number" name="aisgnacion" step="0.01" min="0.10"
                                                                max="1.00"
                                                                placeholder="<%= staffing.valor %>  Valor decimal no mayor a 1.">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <br><br>
                                </div>
                                <!-------------------------------------------------------->

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center align-content-center">

                        <button type="button" class="btn btn-outline-danger m-1" data-dismiss="modal"><i
                                class='bx bx-x-circle bx-md'></i></button>

                        <button type="button" class="btn btn-outline-warning m-1"><i
                                class='bx bx-check-circle bx-md bx-flashing-hover'></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!-------------------------------------------------------->

    </div>
        <br><br><br><br><br><br><br><br>


    <%- include ../layouts/pie.ejs %>