<%- include ../layouts/cabecera.ejs %>
    <div class="container-fluid">
        <br>
        <div class="card">
            <div class="card-body">
                <h1 class="align-text text-center">AGREGAR NUEVO EMPLEADO</h1>
                <br>
                <div class="container shadow p-3 mb-5 bg-white rounded">
                    <form method="post" action="/empleados">
                        <div class="container">
                            <div class="row">
                                <div class="col">

                                    <div>
                                        <div class="form-group">
                                            <label for="tipodocumento">TIPO DE DOCUMENTO</label>
                                            <select id="SelectDocument" class="custom-select" name="documentos">
                                                <option selected>Seleccionar</option>
                                                <% for( let documento=0; documento < documentos.length; documento++ ) {
                                                    %>
                                                    <option value="<%=documentos[documento].idDoc %>">
                                                        <%=documentos[documento].tipoDoc %>
                                                    </option>

                                                    <% } %>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="my-input">DOCUMENTO</label>
                                        <input id="my-input" class="form-control" type="number" name="documento">
                                    </div>
                                    <div class="form-group">
                                        <label for="my-input">NOMBRE</label>
                                        <input id="my-input" class="form-control" type="text" name="nombre">
                                    </div>
                                    <div class="form-group">
                                        <label for="my-input">APELLIDO </label>
                                        <input id="my-input" class="form-control" type="text" name="apellido">
                                    </div>

                                </div>
                                <div class="col">
                                    <div>
                                        <div class="form-group">
                                            <label for="tipodocumento">GERENCIA</label>
                                            <select id="SelectDocument" class="custom-select" name="documento">
                                                <option selected>Seleccionar</option>
                                                <% for( let gerencia=0; gerencia < gerencias.length; gerencia++ ) {
                                                    %>
                                                    <option value="<%=gerencias[gerencia].idGerencia %>">
                                                        <%=gerencias[gerencia].gerencia %>
                                                    </option>

                                                    <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label for="tipodocumento">DEPARTAMENTOS</label>
                                            <select id="SelectDocument" class="custom-select" name="departamento">
                                                <option selected>Seleccionar</option>
                                                <% for( let departamento=0; departamento < departamentos.length; departamento++ ) {
                                                    %>
                                                    <option value="<%=departamentos[departamento].idDpo %>">
                                                        <%=departamentos[departamento].departamento %>
                                                    </option>

                                                    <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                    <div>
                                        <div class="form-group">
                                            <label for="tipodocumento">CARGOS</label>
                                            <select id="SelectDocument" class="custom-select" name="departamento">
                                                <option selected>Seleccionar</option>
                                                <% for( let cargo=0; cargo < cargos.length; cargo++ ) {
                                                    %>
                                                    <option value="<%=cargos[cargo].idCargo %>">
                                                        <%=cargos[cargo].cargo %>
                                                    </option>

                                                    <% } %>
                                            </select>
                                        </div>
                                    </div>
                                        
                                        </div>
                                    <br>
                                    <button type="submit" class="btn btn-outline-warning"><i
                                            class='bx bx-check-circle bx-md'></i></button>
                                    <a href="../empleados" class="btn btn-outline-danger"><i
                                            class='bx bx-x-circle bx-md'></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>

    </div>


    <%- include ../layouts/pie.ejs %>