<%- include ../layouts/cabecera.ejs %>
    <div class="container-fluid">
        <br>
        <div class="card">
            <div class="card-body">
                <h1 class="align-text text-center">AGREGAR NUEVO EMPLEADO</h1>
                <br>
                <div class="container shadow p-3 mb-5 bg-white rounded">
                    <form method="post" action="/empleados">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">

                                    <div>
                                        <div class="form-group ">
                                            <label for="my-select">TIPO DE DOCUMENTO</label>
                                            <select id="SelectGerencias" class="custom-select" name="tipoDoc">
                                            <% for( let documento=0; documento < documentos.length; documento++ ) { %>
                                            <option value="<%=documentos[documento].id %>">
                                                <%=documentos[documento].tipoDoc %>
                                            </option>
                                                    <% } %>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="my-input">DOCUMENTO</label>
                                        <input id="my-input" class="form-control" type="number" name="documento">
                                    </div>
                                    <div class="form-group">
                                        <label for="my-input">NOMBRE</label>
                                        <input id="my-input" class="form-control" type="text" name="nombre">
                                    </div>
                                    <div class="form-group">
                                        <label for="my-input">APELLIDO </label>
                                        <input id="my-input" class="form-control" type="text" name="apellido">
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <div class="form-group">
                                            <label for="form-group">GERENCIA</label>
                                            <select id="SelectGerencias" class="custom-select" name="gerencia">
                                                <% for( let gerencia=0; gerencia < gerencias.length; gerencia++ ) { %>
                                                <option value="<%=gerencias[gerencia].id %>">
                                                    <%=gerencias[gerencia].gerencia %>
                                                </option>
                                                        <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">

                                            <label for="form-group">DEPARTAMENTOS</label>
                                            <select id="SelectDepartamentos" class="custom-select" name="departamento" placeholder="Seleccionar departamento">
                                                <% for( let departamento=0; departamento < departamentos.length; departamento++ ) { %>
                                                <option value="<%=departamentos[departamento].id %>">
                                                    <%=departamentos[departamento].departamento %>
                                                </option>
                                                        <% } %>
                                            </select>

                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <div class="form-group ">
                                                <label for="form-group">CARGOS</label>
                                                <select id="SelectCargos" class="custom-select" name="cargo">
                                                    <% for( let cargo=0; cargo < cargos.length; cargo++ ) { %>
                                                    <option value="<%=cargos[cargo].id %>">
                                                        <%=cargos[cargo].cargo %>
                                                    </option>
                                                            <% } %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-outline-warning"><i
                                            class='bx bx-check-circle bx-md'></i></button>
                                    <a href="../empleados" class="btn btn-outline-danger"><i
                                            class='bx bx-x-circle bx-md'></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>

    </div>
 
    <script>


        /*-----------------SELECT2--------------------*/
        /*-------------SELECT DOCUMENTO---------------*/
        
$(document).ready(function() {
    $('.custom-select').select2();
});
    </script>
<!-- 
            /*-----------------SELECT2--------------------*/
            /*-------------SELECT DOCUMENTOS---------------*/
            $('#selectPaises').select2({
                theme: "classic",
                placeholder: 'Seleccione el tipo de documento',
                width: '100%',
                language: {
                    noResults: function () {
                        return "Sin resultados";
                    },
                    searching: function () {
                        return "Buscando...";
                    }
                },
            });
            /*-----------------SELECT2--------------------*/
            /*-------------SELECT GERENCIAS---------------*/
            $('#SelectGerencias').select2({
                theme: "classic",
                placeholder: 'Seleccione la gerencia',
                width: '100%',

                language: {
                    noResults: function () {
                        return "Sin resultados";
                    },
                    searching: function () {
                        return "Buscando...";
                    }
                },
            });
            /*-----------------SELECT2--------------------*/
            /*-------------SELECT DEPARTAMENTOS---------------*/
            $('#SelectDepartamentos').select2({
                theme: "classic",

                placeholder: 'Seleccione el departamento',
                width: '100%',

                language: {
                    noResults: function () {
                        return "Sin resultados";
                    },
                    searching: function () {
                        return "Buscando...";
                    }
                },
            });
            /*-----------------SELECT2--------------------*/
            /*-------------SELECT CARGOS---------------*/
            $('#SelectCargos').select2({
                theme: "classic",
                placeholder: 'Seleccione el cargo',
                width: '100%',

                language: {
                    noResults: function () {
                        return "Sin resultados";
                    },
                    searching: function () {
                        return "Buscando...";
                    }
                },
            });






        });  -->

    <%- include ../layouts/pie.ejs %>