<%- include ../layouts/cabecera.ejs %>
    <div class="container-fluid">
        <br>
        <div class="card">
            <div class="card-body">
                <h1 class="align-text-bottom text-center">EDITAR EMPLEADO</h1>
                <form method="post" action="../actualizar/">
                    <br>
                    <input type="hidden" name="id" value="<%= empleado.id %> ">

                    <div class="container shadow-lg p-3 mb-5 bg-waith rounded">

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="my-select">TIPO DE DOCUMENTO</label>
                                    <select class="form-control custom-select"  name="tipoDocumento">
                                        <option  value="<%= empleado.documentos_id %>">
                                            <%= empleado.tipoDoc %>
                                        </option>
                                        <% for( let documento=0; documento < documentos.length; documento++ ) { %>
                                            <option value="<%=documentos[documento].id %>">
                                                <%=documentos[documento].tipoDoc %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="my-input">DOCUMENTO</label>
                                    <input value="<%= empleado.documento %>" class="form-control" type="number"
                                        name="documento">
                                </div>
                                <div class="form-group">
                                    <label for="my-input">NOMBRE</label>
                                    <input value="<%= empleado.nombre %>" class="form-control" type="text"
                                        name="nombre">
                                </div>
                                <div class="form-group">
                                    <label for="my-input">APELLIDO </label>
                                    <input value="<%= empleado.apellido %>" class="form-control" type="text" name="apellido">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="my-select">GERENCIA</label>
                                    <select class="form-control custom-select" type="number" name="gerencia">
                                        <option  value="<%= empleado.gerencias_id %>">
                                            <%= empleado.gerencia %>
                                        </option>
                                        <% for( let gerencia=0; gerencia < gerencias.length; gerencia++ ) { %>
                                            <option value="<%=gerencias[gerencia].id %>">
                                                <%=gerencias[gerencia].gerencia %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="my-select">DEPARTAMENTO</label>
                                    <select class="form-control custom-select" name="departamento">
                                        <option  value="<%= empleado.departamentos_id %>">
                                            <%= empleado.departamento %>
                                        </option>
                                        <% for( let departamento=0; departamento < departamentos.length; departamento++
                                            ) { %>
                                            <option value="<%=departamentos[departamento].id %>">
                                                <%=departamentos[departamento].departamento %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="my-select">CARGO</label>
                                    <select class="form-control custom-select" name="cargo">
                                        <option value="<%= empleado.cargos_id %>">
                                            <%= empleado.cargo%>
                                        </option>
                                        <% for( let cargo=0; cargo < cargos.length; cargo++ ) { %>
                                            <option value="<%=cargos[cargo].id %>">
                                                <%=cargos[cargo].cargo %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-outline-warning"><i
                                        class='bx bx-check-circle bx-md'></i></button>

                                <a href="/empleados" class="btn btn-outline-danger"><i
                                        class='bx bx-x-circle bx-md'></i></a>

                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    </div>


    <%- include ../layouts/pie.ejs %>