<%- include ../layouts/cabecera.ejs %>
    <div class="container-fluid">
        <br>
        <br>
        <span>DIRECTORIO ACTIVO DE EMPLEADOS</span>
        
        <br>

        <div class="container-fluid"><a href="/empleados/crear"
                class="btn btn-outline-warning mt-4 position-fixed text-right"><i
                    class='bx bx-layer-plus bx-md bx-flashing-hover'></i></a></div>

        <div class="container shadow p-3 mb-5 bg-white rounded">

            <table id="myTable" class="table  table-hover text-center mt-4 table-responsive" >
                <thead class="thead">
                    <tr>
                        <th>#</th>
                        <th>CC</th>
                        <th>DOCUMENTO</th>
                        <th>NOMBRE</th>
                        <th>APELLIDO</th>
                        <th>GERENCIA</th>
                        <th>DEPARTAMENTO</th>
                        <th>CARGO</th>
                        <th>ACCIÓN</th>
                    </tr>
                </thead>
                <tbody >
                    <% for( let empleado=0; empleado < empleados.length; empleado++ ) { %>

                        <td>
                            <%=empleados[empleado].id %>
                        </td>
                        <td>
                            <%=empleados[empleado].tipoDoc%>
                        </td>
                        <td>
                            <%=empleados[empleado].documento %>
                        </td>
                        <td>
                            <%=empleados[empleado].nombre %>
                        </td>
                        <td>
                            <%=empleados[empleado].apellido %>
                        </td>
                        <td>
                            <%=empleados[empleado].gerencia %>
                        </td>
                        <td>
                            <%=empleados[empleado].departamento %>
                        </td>
                        <td>
                            <%=empleados[empleado].cargo %>
                        </td>
                        <td>


                            <div class="btn-group" id="btnAccion" role="group" aria-label="button group">

                                <form class="form-inline" method="post"
                                    action="/empleados/editar/<%=empleados[empleado].id%>">
                                    <button class="btn btn-outline-info" type="submit"><i
                                            class='bx bx-edit-alt bx-sm bx-tada-hover'></i></button>
                                </form>
                            </div>
                            <br>
                            <div class="btn-group" id="btnAccion" role="group" aria-label="button group">

                                <form class="form-inline" method="post"
                                    action="/empleados/eliminar/<%=empleados[empleado].id %>">
                                    <button class="btn btn-outline-danger"
                                        onclick="return confirm('deseas eliminar a <%=empleados[empleado].nombre %> ???')"
                                        type="submit"><i class='bx bxs-trash bx-sm bx-tada-hover'></i></button>
                                </form>
                            </div>


                        </td>
                        </tr>
                        <% } %>

                </tbody>
            </table>
        </div>
    </div>


    <%- include ../layouts/pie.ejs %>