<%- include ../layouts/cabecera.ejs %>

    <div class="container-fluid">
        <br><br>
        <h1>DIRECTORIO ACTIVO DE PROYECTOS</h1>

        <div class="container-fluid position-fixed">
            <br><br><br><br>
            <a href="/proyectos/crear" class="btn btn-outline-warning mt-1 position-fixed text-right"><i
                    class='bx bx-layer-plus bx-md bx-flashing-hover'></i></a>
        </div>
        <div class="container-fluid " style="padding: 6em;">
            <div class="container-fluid  shadow p-3 mb-5 bg-white rounded">
                <table id="myTable"  style="margin: 0 auto; width: 100%;" class="table table-hover text-center table-responsive-xl">
                   
                    <thead class="thead">
                        <tr>
                            <th style="text-align: center;">#</th>
                            <th style="text-align: center;">CODIGO</th>
                            <th style="text-align: center;">CECO</th>
                            <th style="text-align: center;">CLIENTE</th>
                            <th style="text-align: center;">NOMBRE CORTO</th>
                            <th style="text-align: center;">GERENTE</th>
                            <th style="text-align: center;">ACCIÓN</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <% for( let proyecto=0; proyecto < proyectos.length; proyecto++ ) { %>
                            <tr>
                                <td>
                                    <%=proyectos[proyecto].id %>
                                </td>
                                <td>
                                    <%=proyectos[proyecto].codigo %>
                                </td>
                                <td>
                                    <%=proyectos[proyecto].ceco %>
                                </td>
                                <td>
                                    <%=proyectos[proyecto].cliente %>
                                </td>
                                <td>
                                    <%=proyectos[proyecto].nomCorto %>
                                </td>
                                <td>
                                    <%=proyectos[proyecto].nombre %>
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Button group">

                                        <form class="form-inline" method="post"
                                            action="/proyectos/editar/<%=proyectos[proyecto].id%>">
                                            <button class="btn btn-outline-info" type="submit"><i
                                                    class='bx bx-edit-alt bx-sm bx-tada-hover'></i></button>
                                        </form>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Button group">

                                        <form class="form-inline" method="post"
                                            action="/proyectos/eliminar/<%=proyectos[proyecto].id %>">
                                            <button class="btn btn-outline-danger"
                                                onclick="return confirm('SE ELIMINARÁ EL PROYECTO: <%=proyectos[proyecto].codigo %>')"
                                                type="submit"><i class='bx bxs-trash bx-sm bx-tada-hover'></i></button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>





        <%- include ../layouts/pie.ejs %>