<%- include ../layouts/cabecera.ejs %>



    <a href="/proyectos/crear" class="btn btn-outline-secondary mt-4"><i
            class='bx bx-layer-plus bx-md bx-flashing-hover'></i></a>
    </div>

    <div class="container">

        <table class="table table-hover text-center mt-4">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>CODIGO</th>
                    <th>CECO</th>
                    <th>CLIENTE</th>
                    <th>NOMBRE CORTO</th>
                    <th>GERENTE</th>
                    <th>ACCIÓN</th>
                </tr>
            </thead>
            <tbody>
                <% for( let proyecto=0; proyecto < proyectos.length; proyecto++ ) { %>
                    <tr>
                        <td>
                            <%=proyectos[proyecto].id %>
                        </td>
                        <td>
                            <%=proyectos[proyecto].codigo %>
                        </td>
                        <td>
                            <%=proyectos[proyecto].ceco_id %>
                        </td>
                        <td>
                            <%=proyectos[proyecto].cliente %>
                        </td>
                        <td>
                            <%=proyectos[proyecto].nomCorto %>
                        </td>
                        <td>
                            <%=proyectos[proyecto].empleados_id %>
                        </td>
                        <td>

                            <div class="btn-group" role="group" aria-label="Button group">

                                <form class="form-inline" method="get"
                                    action="/proyectos/editar/<%=proyectos[proyecto].id %>">
                                    <button class="btn btn-outline-info" type="submit"><i
                                            class='bx bx-edit-alt bx-sm bx-tada-hover'></i></button>
                                </form>
                            </div>
                            <div class="btn-group" role="group" aria-label="Button group">

                                <form class="form-inline" method="post"
                                    action="/proyectos/eliminar/<%=proyectos[proyecto].id %>">
                                    <button class="btn btn-outline-danger" type="submit"><i
                                            class='bx bxs-trash bx-sm bx-tada-hover'></i></button>
                                </form>
                            </div>


                        </td>
                    </tr>
                    <% } %>

            </tbody>
        </table>


        <%- include ../layouts/pie.ejs %>